@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Work+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,700;1,9..40,700&family=Work+Sans:ital@0;1&display=swap');
@import url("fonts.css");
@import url("reset.css");

/* p{
    font-family: roboto, serif;
}
p{
    font-family: manrope, serif;
} */
/* p{
    font-family: 'Gilroy';
    line-height: 150%; /* 24/16 *


    } */

    h1{
        font-family: Roboto, serif;
        color: red;
        background-color: yellow;
        font-weight: 800;
        text-decoration: underline;
        text-decoration-color: orange;
    }
    h1, .navigation li{
        text-align: center;
    }
    .navigation a{
        font-family: Manrope, serif;
        color: blue;
        font-weight: 300;
        text-decoration: underline;
        text-decoration-color: lightskyblue;
    }

    .article-intro{
        font-family: "Dancing Script", serif;
    }
    .article-part1 {
font-family: Roboto, serif;
    }
    .article-part1 h2{
        color:blueviolet;
        background-color: aqua;
    }
    .article-part1 ul{
        color: green;
        text-transform: capitalize;
        /* line-hight: 5; ne rabotaet!!! */
        line-height: 150%;
    }

    .article-part2 {
        font-family: "Jacquarda Bastarda 9", serif;
    }
.article-part2 h2{
    color: white;
    background-color: black;;
}

.article-part2 p{
    font-size: 10px;
}

.article-part2 ol{
    color: purple;
    text-decoration: underline;
    text-decoration-style: dotted;
}
.article-part2 ol>li{
    color: red;
}

.article-part3{
    font-family: Sofadi One, serif;
}
.article-part3 h2{
    font-weight: 800;
    background-color: hotpink;
}
.article-part3 + div{
    color:chartreuse;
}
.article-part3 h2 ~ p{
    color: green;
    font-weight: 600;
}

.homeworkn1 h2,
.homeworkn1 p{
     font-family: "Work Sans", sans-serif;
}
.homeworkn1 h2{
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 132%;
    color:  #132238;
}
.homeworkn1 p{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #556070;
}

.homeworkn2 h2,
.homeworkn2 p{
     font-family: "DM Sans", sans-serif;
}
.homeworkn2 h2{
    font-weight: 700;
    font-size: 88px;
    line-height: 108%;
    color:  #1e1b39;

}
.homeworkn3 p{
    font-weight: 400;
    font-size: 24px;
    line-height: 175%;
    color:  #474464;
    }



.homeworkn3 h2,
.homeworkn3 p{
    font-family: "Roboto", sans-serif;
}

.homeworkn3 h2{
    font-weight: 500;
    font-size: 50px;
    line-height: 132%;
    letter-spacing: 0.02em;
    color: #091133;

}
.homeworkn3 p{
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: #505f98;
}