@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url("fonts.css");
@import url("reset.css");

/* p{
    font-family: roboto, serif;
}
p{
    font-family: manrope, serif;
} */
p{
    font-family: 'Gilroy';
    line-height: 150%; /* 24/16 */


    }